Flask-API==0.7.1
Flask-DebugToolbar==0.10.1
Flask-JWT-Extended==2.4.1
Flask-Migrate==2.0.4
Flask-RESTful==0.3.6
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-Testing==0.6.2
Flask-WTF==0.14.2
Werkzeug==0.12.2
SQLAlchemy==1.1.10
python-decouple==3.0